@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

/* Quitar outline de inputs en web */
input:focus,
textarea:focus {
  outline: none !important;
}

.outline-none {
  outline: none !important;
}